*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background-image: url("image/The.jpg");
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
    height: 70px;
    margin: auto;
}
.icon{
    width: 300px;
    height: 70px;
    float: left;
}
.logo{
    color: orange;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    padding-top: 20px;
}
.menu{
    float: left;
    width: 100px;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style-type: none;
    margin-left: 70px;
    margin-top: 20px;
    font-size: 17px;
} 
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
ul li a:hover{
    color: orange;
}
.search{
    float: right;
    width: 300px;
    height: 70px;
    margin-left: 20px;
}
.srch{
    font-size: 17px;
    border: none;
    margin-top: 20px;
    padding: 7px;
    background: transparent;
    border: 1px solid orange;
    border-right: none;
    color: white;
    height: 40px;
    border-radius: 5px 0 0 5px;
    width: 200px;
    padding-left: 10px;
}
::placeholder{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    font-size: 17px;
    border: none;
    margin-top: 20px;
    padding: 7px;
    background: orange;
    color: white;
    height: 40px;
    width: 80px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    margin-left: -5px;
}
.btn:hover{
    background: white;
    color: orange;
}
.content{
    width: 1200px;
    height: 400px;
    margin: 20px;
    color: white;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.content h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.content p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 20px;
}
.change_content{
    color: orange;
    font-size: 25px;
}
.cn{
    font-size: 17px;
    border: none;
    margin-top: 20px;
    padding: 7px;
    background: orange;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;

}
.cn:hover{
    background: white;
    color: orange;
    transition: 0.5s ease;
}
.form{
    width: 220px;
    height: 320px;
    background: rgb(0, 0, 0);
    padding: 20px;
    position: absolute;
    top: 100px;
    left: 1000px;
    border-radius: 10px;
        display: inline-block;
}
.form h2{
    width: 180px;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    margin-bottom: 5px;
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 10px;
}
.form input{
    width: 190px;
    height: 29px;
   background: transparent;
    border-bottom: 1px solid orange;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    font-size: 15px;
    align-items: center;
     margin-bottom: 20px;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.submit{
    width: 100%;
    height: 30px;
    background: orange;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
   margin-top: -10px;
}
.submit:hover{
    background: white;
    color: orange;
    transition: 0.5s ease;
}
.link{
    color: white;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}
.link a{
    color: orange;
    text-decoration: none;
}
.link a:hover{
    text-decoration: underline;
    color: white;
}
.liw{
   color: white;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}
.mang{
    
}
@media (max-width: 1200px){
    .main{
        height: 100vh;
    }
    .navbar{
        width: 100%;
    }
    .content{
        width: 100%;
        height: auto;
        padding: 20px;
    }
    .footer{
        width: 100%;
        height: 50px;
        background: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        font-weight: bold;
    }
