.grid-container{
    width: 400px;
    height: 400px;
    justify-content: center;
    align-content: center;
    background-color: black;
    text-align: center;
}
.container{
    padding: 10px;
    background-color: rgb(56, 56, 61);
    color: white;
    text-align: center;
    border-radius: 8px;
    width: 400px;
    height: 250px;  
    position: static
    display: ;
}
h2{
    color: white;
    margin-top: 10px;
    font-family: 'Times New Roman';
    font-size: large;
   
    
}